services:
  - type: web
    name: interviewai-backend
    env: docker
    rootDir: interviewai_backend
    dockerfilePath: ./Dockerfile
    dockerContext: ./
    envVars:
      - key: JAVA_VERSION
        value: 21
      - key: DB_URL
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_JWT_SECRET
        sync: false
      - key: SUPABASE_SERVICE_ROLE_KEY
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      - key: GEMINI_API_URL
        value: https://generativelanguage.googleapis.com/v1beta/models
