plugins = []
headers = []
redirects = []

[functions]

[functions."*"]

[build]
publish = "C:\\Java Projects\\InterviewAI\\interviewai_frontend"
publishOrigin = "default"
base = "C:\\Java Projects\\InterviewAI\\interviewai_frontend"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]